*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.heading{
    margin: auto;
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    color: black;
    text-shadow: 2px 2px red;
    
}
.heading h1{
    font-size: 3rem;
}

body{
    background-image: url("../img/chat.jpg");
    

}
.quiz-section{
      background-size: cover;
    max-width: 40vw;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
    padding: 1rem;
    border-radius: 5%;
    background: linear-gradient(to right, black, rgb(95, 95, 113), transparent );
    /* position: relative; */
    /* background: transparent; */
    color: white;
    
}


.quiz-section h2{
    margin-top: 1rem;
    font-size: 1.7rem;
    
}
.quiz-section ul {
    font-size: 1.3rem;
    margin: 2rem;
}

.quiz-section li {
    padding: 1rem;
    list-style: none;
}
label:hover {
cursor: pointer;
}

.btn button{
    font-size: 1.2rem;
    padding: 0.5rem;
    background: transparent;
    border-radius: 10%;
    margin-top: 1rem;
    transition: 0.3s ease;
    color: white;
}
.btn button:hover{
cursor: pointer;
box-shadow: 0 0 25px rgb(148, 18, 18);
/* font-weight: bold; */
/* border: 0.5rem solid red; */
}

input[type="radio"] {
    width: 15px;
    height: 15px;
    margin-right: 1.8rem;
}
input[type="radio"]:hover{
cursor: pointer;
}
.reload-button{
    color: rebeccapurple;
}

.social-media{
    position: absolute;
    top: 22rem;
    font-size: 1.8rem;
    right: 10rem;
    background: transparent;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.social-media a{
    color: rgb(142, 2, 2);
    margin-left: 1rem;
    border-radius: 50%;
    transition: 0.3s ease;
}

.social-media a:hover{
    color: white;
    box-shadow:0 0 25px rgb(142, 2, 2) ;
    background: rgb(142, 2, 2);
    transform: scale(1.2) translateY(-10px);

}
.result p{
    font-size: 1.25rem;
    margin-top: 4rem;

}
.result h2{
    font-size: 2rem;
}
.result button{
    background: transparent;
    margin-top: 2rem;
    /* font-size: 1rem; */
    padding: 0.9rem;
    margin-left: 15rem;
    color: white;
}
.result button:hover{
    cursor: pointer;
    box-shadow:0 0 25px rgb(142, 2, 2) ;

}

@media (max-width:990px){
    .quiz-section{
        margin-top: 1rem;
        max-width: 100vw;
        max-height: 200vh;

}
.quiz-section h2{
    font-size: 1.5rem;
    
}
.quiz-section ul {
    font-size: 1.2rem;
    margin: 2rem;
}

.quiz-section li {
    padding: 1rem;
 
}
.heading h1{
    font-size: 1.5rem;
}
body{
    background-image: url(/img/chat.jpg);
    background-size: cover;

}
.social-media{
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    margin-right: -8rem;

}
.social-media a{
font-size: 1.5rem;
margin-left: -1rem;
margin-top: 8rem;
}
.quiz-section ul {
margin: 0;
}
input[type="radio"] {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
.result button{
    margin-left: -1rem;

 
}

}
